<div class="container-fluid">
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <h1 class="center-text">The SLU Creatures</h1>
  </div>
</div>
<div class="row">

 <div class="center" style="width:700px; margin-bottom: 20px;"><%= image_tag("turtle.jpg", :alt => "turtle") %></div>
</div>
</div>
